* {
    margin: 0;
    padding: 0;
    font-family: 'Almarai', sans-serif;
}

:root {
    --card-color:  rgb(240, 240, 240);
    --card-shadow: 2px 2px 9px 1px rgb(145, 145, 145);
    --accent-color1: rgb(88, 144, 218);
    --accent-color2: rgba(224, 224, 224, 0.884);
}

ul {
    list-style-type: none;
}

button {
    background-color: var(--accent-color1);
    border-radius: 12px;
    border: none;
    width: 5em;
    height: 2.5em;

}

.nav-icon {
    height: 1.25em;
    width: 1.25em;
    padding-right: 1em;
    color: whitesmoke;
}

.nav-item {
    display: flex;
    align-items: center;
    color: whitesmoke;
}

.title {
    font-size: 1em;
    font-weight: bold;
    align-self: center;
    
}

.heading {
    font-weight: bold;
    font-size: .8em;
}

.icon {
    height: 1.25em;
    width: 1.25em;
    align-self: center;
}


.main-container {
    display: grid;
    grid-template-rows: 7rem 100%;
    grid-template-columns: 1fr 5fr;
    grid-template-areas: 
        "sidebar header"
        "sidebar content";
}

.sidebar {
    background-color: var(--accent-color1);
    grid-area: sidebar;
    padding: 20px;
    gap: 20px;
}

.nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 1.25em;
}

.logo {
    width: 90%;
    height: 25px;
    border: 2px solid gray;
    margin-bottom: 50px;
}

.header {
    background-color: var(--card-color);
    grid-area: header;
    display: grid;
    grid-template-rows: .5fr 1fr;
    padding: 10px;
    gap: 5px;
    box-shadow: 1px 2px 0px 2px rgb(145, 145, 145);
}

.header-top-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
}

.search {
    display: flex;
    align-items: center;
}


#searchbar {
    border-radius: 12px;
    border: none;
    background-color: var(--accent-color2);
    margin-left: 1.5em;
    width: 25em;
    height: 1.5em;
}

.header-bottom-container {
    display: flex;
    justify-content: space-between;
    margin: 5px;
}

.actions {
    align-self: center;
}

.user {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;usericon
}

.content {
    background-color: var(--accent-color2);
    grid-area: content;
    display: grid;
    grid-template: 50% 50% / 3fr 1fr;
    grid-template-areas: 
        "projects announcements"
        "projects trending"
        ;
    padding: 15px;
}

.projects {
    grid-area: projects;
    padding: 15px;
    display: grid;
    grid-template-rows: 2em minmax(10rem, 1fr);
    
}

.project-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
}

.project-card {
    background-color: var(--card-color);
    border-left: 1em solid rgba(134, 190, 241, 0.39);
    border-radius: 9px;
    box-shadow: var(--card-shadow);
    min-height: 100px;
    padding: 1em;
    display: grid;
    grid-template-rows: 3fr 1fr;
}

.project-icons {
    justify-self: right;
}

.announcements {
    grid-area: announcements;
}

.announcements, .trending {
    display: grid;
    grid-template-rows: 2em 1fr;
    padding: 15px 15px 15px 0;
}

.announce-body, .trend-body {
    padding-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: var(--card-color);
    box-shadow: var(--card-shadow);
    border-radius: 9px;
    padding: 1em;

}

.announce>p {
    font-size: .6em;
}

.trending {
    grid-area: trending;
}